 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2007px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 122px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 66px 0;
}

.u-section-1 .u-list-1 {
  margin-top: 115px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 1080px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --radius: 20px;
  transition-duration: 0.3s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-1 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 20px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-2 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-3 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-4 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-5 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-5 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-6 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-6 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 120px 69px 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: -34px auto 0 20px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: -47px 467px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 262px;
  height: 85px;
  margin: 19px 9px 0 auto;
}

.u-section-1 .u-text-18 {
  font-weight: 500;
  margin: -80px 514px 0 521px;
}

.u-section-1 .u-text-19 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -14px 753px 0 20px;
}

.u-section-1 .u-text-20 {
  font-weight: 500;
  margin: -25px 566px 0 521px;
}

.u-section-1 .u-image-8 {
  width: 245px;
  height: 90px;
  margin: 14px 20px 0 auto;
}

.u-section-1 .u-text-21 {
  font-weight: 500;
  margin: -88px 495px 0 521px;
}

.u-section-1 .u-image-9 {
  width: 63px;
  height: 69px;
  margin: -29px auto 0 111px;
}

.u-section-1 .u-image-10 {
  width: 50px;
  height: 50px;
  margin: -60px auto 0 32px;
}

.u-section-1 .u-image-11 {
  width: 49px;
  height: 49px;
  margin: -48px auto 0 213px;
}

.u-section-1 .u-text-22 {
  margin: 90px auto 0 376px;
}

.u-section-1 .u-text-23 {
  margin: 11px auto 51px 438px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 869px;
    grid-auto-columns: calc(33.333333333333336% - 18px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 225px;
  }

  .u-section-1 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 225px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 225px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 225px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 225px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 385px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -138px;
    margin-right: 424px;
    margin-left: 430px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -105px;
    margin-right: 621px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 18px;
    margin-right: 457px;
    margin-left: 430px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -117px;
    margin-right: 408px;
    margin-left: 430px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 133px;
    margin-left: 310px;
  }

  .u-section-1 .u-text-23 {
    margin-bottom: 33px;
    margin-left: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2438px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 121px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1569px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-1 .u-image-1 {
    height: 266px;
  }

  .u-section-1 .u-image-2 {
    height: 266px;
  }

  .u-section-1 .u-image-3 {
    height: 266px;
  }

  .u-section-1 .u-image-4 {
    height: 266px;
  }

  .u-section-1 .u-image-5 {
    height: 266px;
  }

  .u-section-1 .u-image-6 {
    height: 266px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 75px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -48px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -65px;
    margin-right: 263px;
  }

  .u-section-1 .u-image-7 {
    width: 204px;
    height: 64px;
    margin-top: 17px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -51px;
    margin-right: 285px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -17px;
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -60px;
    margin-right: 320px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 198px;
    height: 65px;
    margin-top: 19px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -70px;
    margin-right: 285px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    width: 55px;
    height: 60px;
    margin-top: 6px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-10 {
    width: 42px;
    height: 42px;
    margin-top: -51px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-11 {
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 75px;
    margin-right: 170px;
    margin-left: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3525px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 138px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2285px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 461px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 461px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 461px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 461px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 461px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 461px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 409px;
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    margin-top: -386px;
    margin-right: 114px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 161px;
    margin-right: auto;
    margin-left: 174px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 180px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -220px;
    margin-right: 367px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -238px;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: 166px;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 127px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -221px;
    margin-right: 37px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -184px;
    margin-left: 223px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 165px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 302px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 383px;
    margin-right: auto;
  }

  .u-section-1 .u-text-23 {
    margin-top: 6px;
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4372px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 284px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 284px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 426px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -404px;
    margin-right: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 216px;
    margin-right: 83px;
    margin-left: 75px;
  }

  .u-section-1 .u-image-7 {
    width: 147px;
    height: 58px;
    margin-top: 136px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -172px;
    margin-right: 199px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -278px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 184px;
    margin-left: 139px;
  }

  .u-section-1 .u-image-8 {
    width: 164px;
    height: 57px;
    margin-top: 87px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -171px;
    margin-right: 2px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -191px;
    margin-left: 125px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 67px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 332px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 11px;
    margin-bottom: 60px;
    margin-left: 35px;
  }
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2:before {
  background-image: url(images/pexels-codioful-7130560.jpg) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1:before {
  background-image: url(images/pexels-codioful-7130560.jpg) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3:before {
  background-image: url(images/pexels-codioful-7130560.jpg) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4:before {
  background-image: url(images/pexels-codioful-7130560.jpg) !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-5:before {
  background-image: url(images/pexels-codioful-7130560.jpg) !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-6:before {
  background-image: url(images/pexels-codioful-7130560.jpg) !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}